main {
    margin-bottom: 20vh;
    row-gap: 10vh;
}

.banner {
    width: 100vw;
    height: 50vh;
    background: var(--light-blue);
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    text-align: center;
    font-size: 50px;
    color: var(--dark-blue);
}

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4vh;
    row-gap: 4vh;
}

.blog figure {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    padding: 2vh 0;
    cursor: pointer;
}

.blog a {
    width: 25%;
    background-color: var(--white);
    text-decoration: none;
}

.blog figure:hover img {
    opacity: 0.8;
}

.blog figcaption {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.blog img {
    width: 90%;
    height: 40vh;
    object-fit: cover;
}

.blog h3 {
    background-color: var(--sand);
    color: var(--white);
    padding: 1vh;
    text-shadow: 0.1em 0.1em 0.2em var(--gray);
    font-size: 1.6em;
}

.blog p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray);
}

.blog span {
    display: block;
    text-align: right;
    color: var(--sand);
}