img{
    width: 200px;
}

main{
    row-gap: 2vh;
}

.blog {
    display: flex;
    justify-content: space-around;
}
.banner{
    width: 100%;
    height: 60vh;
    background: url(../images/post_banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner article {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
}

h1 {
    color: var(--white-blue);
    font-size: 40px;
    text-align: center;
    width: 60%;
}

.banner span {
    color: var(--white);
}

.post {
    width: 70%;
    background-color: var(--white);
    padding: 4vh;
    height: 30%;
}
.post img {
    width: 100%;
    height: 30%;
    object-fit: cover;

}


.thumbnail {
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.thumbnail figure {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding: 3vh;
    cursor: pointer;
}

.thumbnail figure:hover {
    opacity: 0.8;
}

.thumbnail img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.thumbnail h3 {
    font-weight: 400;
    background-color: var(--sand);
    padding: 1vh;
    font-size: 16px;
    color: var(--white);
    text-shadow: 1px 1px 2px var(--gray);
}