html {
    font-size: 10px;
}
main {
    padding-bottom: 8em;
    row-gap: 3em;
}
.banner {
    width: 100vw;
    height: 30vh;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: var(--white-blue);
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 1vw;
}

.cart {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6em;
    padding-bottom: 4em;
}

.quantity-button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px 10px;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 120em;
}

th {
    font-size: 2em;
    color: var(--yellow);
    text-align: center;
    padding: 2vh 0;
}

thead, tr {
    border-bottom: 1px solid var(--gray);
}

td {
    text-align: center;
    font-size: 18px;
    color: var(--dark-blue);
    padding: 2em 0;
}

img {
    width: 10em;
    height: 10em;
    object-fit: cover;
}

input {
    padding: 0.2em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    text-align: center;
}

.recommended {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    padding: 2vh 0;
    width: 100%;
}

.recommended h2 {
    font-size: 24px;
    color: var(--yellow);
    width: 80%;
}

.recommended article {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommended img {
    width: 20em;
    height: 20em;
    object-fit: cover;
}

.recommended p {
    color: var(--dark-blue);
    font-size: 1.8em;
}

.recommended figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    text-align: center;
}

.recommended button, .total >button {
    background-color: var(--yellow);
    border: none;
    padding: 1em;
    font-size: 1.4em;
    font-weight: bold;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 80%;
}

.total ul {
    width: 40%;
    list-style-type: none;
    padding: 0;
}

.total h3, .total h4, .total p {
    color: var(--dark-blue);
}

.total li:nth-child(3) {
    border-bottom: 1px solid var(--gray);
}

.total h4 {
    font-size: 2em;
}

.total h3 {
    font-size: 2.4em;
    font-weight: bold;
}

.total p {
    font-size: 2em;
}

.total li {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.total >button {
    border: 2px solid var(--dark-blue);
}

.total >button:hover {
    background-color: transparent;
    border: 2px solid var(--dark-blue);
}

#redeemContainer {
    position: relative;
}

#redeemBtn {
    background-color: #d2b48c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 10px 0;
    position: relative;
}

#redeemBtn .close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    display: none; /* Initially hidden */
    line-height: 1; /* Adjust to center the "x" */
}

#redeemBtn.redeemed .close-btn {
    display: flex; /* Show when points are redeemed */
}


#redeemBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#checkBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#points {
    font-weight: bold;
    color: #8b4513;
}

.bg {
    width: 100%;
    background-color: var(--gray);
    opacity: 0.5;
    position: absolute;
    top: 0;
}

.checkout {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    background-color: var(--white);
    padding: 2em;
    width: 80%;
    position: absolute;
    top: 20%;
    display: none;
}

.checkout section {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 50%;
    background-color: var(--sand);
    padding: 1rem;
}

.right {
    width: 45%;
    display: flex;
    background-color: var(--sand);
    padding: 1rem;
}

.checkout .total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 2em;
}

.checkout .total >div {
    width: 100%;
}

.checkout h2 {
    font-size: 40px;
    color: var(--brown);
    font-weight: bold;
}

.checkout h3 {
    color: var(--brown);
    font-weight: bold;
}

.checkout section {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}

#itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#descrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--brown);
    width: 80%;
    font-size: 1.5rem;
}

#nameBox {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
}

#tipBtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tipBtn {
    background-color: var(--white);
    width: 25%;
    padding: 1rem 0;
    border: none;
    font-size: 1.5rem;
    color: var(--brown);
}

#totalBox > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--brown);
}

#totalBox p,
#totalBox span {
    font-size: 1.5rem;
    color: var(--brown);
    font-weight: bold;
}

#totalBox div:last-child p,
#totalBox div:last-child span {
    font-size: 2rem;
}
