
html {
    font-size: 10px;
}
main {
    padding-bottom: 8em;
    row-gap: 3em;
}
.banner {
    width: 100vw;
    height: 30vh;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: var(--white-blue);
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 1vw;
}

.cart {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6em;
    padding-bottom: 4em;
}

table {
    width: 120em;
}


th {
    font-size: 2em;
    color: var(--yellow);
    text-align: center;
    padding: 2vh 0;
}

thead, tr {
    border-bottom: 1px solid var(--gray);
}

td {
    text-align: center;
    font-size: 18px;
    color: var(--dark-blue);
    padding: 2em 0;
}

img {
    width: 10em;
    height: 10em;
    object-fit: cover;
}

input {
    padding: 0.2em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    text-align: center;
}

.recommended {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    padding: 2vh 0;
    width: 100%;
}

.recommended h2 {
    font-size: 24px;
    color: var(--yellow);
    width: 80%;
}

.recommended article {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommended img {
    width: 20em;
    height: 20em;
    object-fit: cover;
}

.recommended p {
    color: var(--dark-blue);
    font-size: 1.8em;
}

.recommended figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    text-align: center;
}


.recommended button, .total button {
    background-color: var(--yellow);
    border: none;
    padding: 1em;
    font-size: 1.4em;
    font-weight: bold;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 80%;
}

.total ul {
    width: 40%;
}

.total h3, .total h4, .total p  {
    color: var(--dark-blue);
}

.total li:nth-child(3){
    border-bottom: 1px solid var(--gray);
}

.total h4 {
    font-size: 2em;
}

.total h3 {
    font-size: 2.4em;
    font-weight: bold;
}

.total p {
    font-size: 2em;
}

.total li {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}


.checkout{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    background-color: var(--white);
    padding: 2em;
    width: 70%;

    position: absolute;
    top: 20%;
}

.checkout input{
    border: 0.2em solid var(--dark-blue);
}

.left {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 50%;
}
.checkout h2 {
    font-size: 40px;
    color: var(--yellow);
    font-weight: bold;
}

.checkout h3{
    color: var(--yellow);
    font-weight: bold;
}

.checkout section {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}

.account{
    background-color: var(--white-blue) ;
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
    padding: 2em;
}

.account button, .signup button{
    width: 30%;
    background-color: var(--sand);
    border: 2px solid var(--dark-blue);
    font-size: 1.4em;
    color: var(--dark-blue);
    padding: 0.6em;
}

.checkout label {
    color: var(--yellow);
    font-size: 1.4em;
}
.or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}
.checkout span{
    width: 40%;
    height: 0.1em;
    background-color: var(--gray);
}

.guest{
    background-color: var(--white-blue) ;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 2em;
}  

.guest li{
    color: var(--yellow);
    font-size: 1.2em;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1em;
}
.signup button{
    width: 50%;
}


.payment{
    background-color: var(--white-blue) ;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1em;
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1em;
}

.payment ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.payment li {
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
    column-gap: 5em;
}

.payment h3{
    color: var(--yellow);
}

.payment li p {
    font-size: 1.2em;
}

.point {
    color: var(--dark-blue);
    font-size: 1.5em;
}

ol {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    width: 100%;
}

ol li{
    width: 20%;
}

ol button, .payment button{
    width: 100%;
    padding: 1em 0em;
    background-color: var(--sand);
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    font-size: 1.4em;
}

.payment h5 {
    color: var(--dark-blue);
    font-size: 2em;
    font-weight: bold;
}

.payment ul p {
    font-size: 1.6em;
}