@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@200;300;400;500;700&display=swap');
*{margin: 0; padding: 0; list-style: none;  font-family: 'Montserrat', sans-serif;}

html {
    font-size: 10px;
}
:root {
    --dark-blue:#63888B;
    --blue:#85ACAF;
    --light-blue: #AEC7C4;
    --white-blue:#F1EBE6;
    --sand: #E5D3BC;
    --yellow: #D9C5A0;
    --white:whitesmoke;
    --gray:#999;
    --pink:#db5252;
    --brown: #886E3D;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white-blue);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0;
}


header img {
    width: 20em;
}

nav, nav ul{
    display: flex;
    align-items: center;
    column-gap: 4vh;
}

nav a {
    color: var(--dark-blue);
    font-weight: bold;
    font-family: Itim;
    font-size: 2.2em;
    text-decoration: none;
}

nav a:hover {
    color: var(--yellow);
    border-radius: 0.5em;
    border-bottom: 0.2em solid var(--yellow);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    padding: 2em;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    align-items:start;
}

footer img {
    width: 20em;
    height: 20em;
    object-fit:cover;
}

footer ul {
    display: flex;
    flex-direction: column;
}

footer ul:last-child{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

footer ul:last-child i{
    margin-right: 2vh;
}

footer h4 {
    font-family: "Itim";
    font-size: 1.8em;
    border-bottom:0.2em solid transparent;
}

footer a, footer li {
    color: var(--white-blue);
    text-decoration: none;
    font-size: 1.2em;
}

footer li {
    font-size: 1.5em;
}


footer a:hover h4{
    border-bottom:0.2em solid var(--yellow);
    color: var(--yellow);
}
footer figcaption {
    display: flex;
    justify-content: center;
    column-gap: 2vh;
}

footer figcaption i{
    font-size: 3em;
    cursor: pointer;
    color: var(--white-blue);
}

footer figcaption i:hover{
    color: var(--yellow);
}