@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@200;300;400;500;700&display=swap');
*{margin: 0; padding: 0; list-style: none;  font-family: 'Montserrat', sans-serif;}

:root {
    --dark-blue:#63888B;
    --blue:#85ACAF;
    --light-blue: #AEC7C4;
    --white-blue:#F1EBE6;
    --sand: #E5D3BC;
    --yellow: #D9C5A0;
}

img {
    width: 200px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--white-blue);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0;
}

nav, nav ul{
    display: flex;
    align-items: center;
    column-gap: 4vh;
}

nav a {
    color: var(--dark-blue);
    font-weight: bold;
    font-family: Itim;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: var(--yellow);
    border-radius: 5px;
    border-bottom: 2px solid var(--yellow);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    align-items:center;
}

footer img {
    width: 200px;
    height: 200px;
    object-fit:cover;
}

footer ul {
    display: flex;
    column-gap: 4vh;
}

footer ul:last-child{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

footer ul:last-child i{
    margin-right: 2vh;
}

footer h4 {
    font-family: "Itim";
    font-size: 26px;
    border-bottom:2px solid transparent;
}

footer a, li {
    color: var(--white-blue);
    text-decoration: none;
}


footer a:hover h4{
    border-bottom:2px solid var(--yellow);
    color: var(--yellow);
}


footer ul:nth-child(3){
    font-size: 28px;
    cursor: pointer;
}

footer ul:nth-child(3) i:hover{
    color: var(--yellow);
}